
body {
	margin:0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
}
.row {

  max-width: 1000px;
  min-width:300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

}

.heading {
	height: 300px;
	background-color: #ff5050;
	margin:0px;
	padding: 0px;
}
 .heading h1{
 margin-top: 0;
 padding-top: 50px;
 font-size: 130px;
 text-align: center;
 font-family: 'Pacifico', cursive;
 color:white;
 }

input {

 width:700px;
 height: 100px;
 border:2px solid #737373;
 border-radius: 4px;
 font-size: 50px;
}

/*input::placeholder{
	color:red;
}*/
.fixedwidth {
	height: 240px;
	padding-top: 50px;
	padding-left: 120px;
	
}

.fa.fa-search{
	font-size: 50px;
	border:1px solid grey;
	border-radius: 4px;
	padding:20px;
	display:inline-block;
	position: relative;
	margin-left: 10px;
	background-color: #8c8c8c;

}

.result-list li {

	font-size: 30px;
	list-style: none;
	margin-bottom: 100px;
}


.result-list img {

	width:600px;
	margin-bottom: 80px;
}

.search-results{
	margin-left:150px;
}

